@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 700;
}

/* Polices */
h1 {
    font-family: "Roboto Mono", Courrier, monospace;
    font-weight: 100;
    color: #fff;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

/* Background Header et Footer */
header,
footer {
    background-color: #1f2937;
}

/*Boutons */
button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
}

.contact button {
    border: 1px solid #e5e7eb;
}

button:hover {
    background-color: #66a0ff;
}

/* Navbar */
header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header a:hover {
    color: #acacac;
}

header ul {
    list-style: none;
    padding: 0;
}

/* Présentation */
.presentation h2 {
    color: #f9faf8;
    font-size: 32px;
    font-weight: 400;
}

.presentation {
    color: #e5e7eb;
    font-size: 18px;
}

.presentation div {
    background-color: #acacac;
    height: 150px;
    width: 300px;
}

/* Equipe */
.equipe {
    font-size: 18px;
}

.photo {
    border: 2px solid #3882f6;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

/* Citation */
.citation {
    background-color: #e5e7eb;
    font-size: 24px;
    font-style: italic;
}

.citation .signature {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}

/* Contact */
.contact {
    background-color: #3882f6;
    color: #e5e7eb;
}

.contact .titre {
    font-weight: bold;
}

/* Footer */
footer {
    color: #e5e7eb;
}

footer a {
    text-decoration: none;
    color: #e5e7eb;
}

footer a:hover {
    color: #acacac;
}