@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 700;
}

/* Polices */
h1 {
    font-family: "Roboto Mono", Courrier, monospace;
    font-weight: 100;
    color: #fff;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* Background Header et Footer */
header,
footer {
    background-color: #1f2937;
}

body {
    margin: 0;
}

/*Boutons */
button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
}

.contact button {
    border: 1px solid #e5e7eb;
}

button:hover {
    background-color: #66a0ff;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

    /* Navbar */
header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header a:hover {
    color: #acacac;
}

header ul {
    list-style: none;
    padding: 0;
}

h1 {
    margin-top: 5px;
}

.navbar {
    /* Rapprocher ul de h1 en réduisant la taille de la fenêtre */
    width: 1080px;
    display: flex;
    align-self: center;
    justify-content: baseline;
}

.navbar ul {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

    /* Présentation */
.presentation h2 {
    color: #f9faf8;
    font-size: 32px;
    font-weight: 400;
}

.presentation {
    color: #e5e7eb;
    font-size: 18px;
    width: 1080px;
    display: flex;
    align-self: center;
    padding: 30px 0px;
}

.presentation .left-side {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.presentation .right-side {
    display: flex;
    flex: 1;
}

.presentation .placeholder {
    background-color: #acacac;
    height: 180px;
    width: 360px;
    margin-left: auto;
}

/* Equipe */
.equipe {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.liste-avocats {
    display: flex;
    width: 1080px;
    justify-content: space-around;
    margin-top: 20px;
}

.photo {
    border: 4px outset #3882f6;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.photo:hover {
    box-shadow: 0px 0px 10px 0px #66a0ff;
    border: 4px inset #66a0ff;
}

.nom {
    text-align: center;
    margin-top: 10px;
}

/* Citation */
.citation {
    background-color: #e5e7eb;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 60px 0px;
}

.texte-citation {
    width: 540px;
    flex: 0 0 auto;
}

.citation .signature {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

/* Contact */
.contact {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 800px;
    margin: 60px auto;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact .titre {
    font-weight: bold;
}

.contact .left-side {
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
    color: #e5e7eb;
    text-align: center;
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: #e5e7eb;
    margin-top: 10px;
}

footer a:hover {
    color: #acacac;
}